.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:15px 25px;
    background:#121212;
    position:sticky;
    top:0;
    z-index:100;
}

.navbar-left{
    display:flex;
    align-items:center;
    gap:15px;
}

.nav-btn{
    width:42px;
    height:42px;
    border:none;
    border-radius:50%;
    background:#000;
    color:#fff;
    cursor:pointer;
    font-size:16px;
    display:flex;
    justify-content:center;
    align-items:center;
}

.search-box{
    display:flex;
    align-items:center;
    background:#242424;
    border-radius:30px;
    padding:0 18px;
    width:360px;
    height:48px;
}

.search-box svg{
    color:#b3b3b3;
    font-size:20px;
}

.search-box input{
    flex:1;
    margin-left:12px;
    border:none;
    outline:none;
    background:transparent;
    color:white;
    font-size:15px;
}

.search-box input::placeholder{
    color:#b3b3b3;
}

.navbar-right{
    display:flex;
    align-items:center;
    gap:15px;
}

.premium-btn{
    background:#fff;
    color:#000;
    border:none;
    padding:12px 22px;
    border-radius:25px;
    font-weight:bold;
    cursor:pointer;
}

.install-btn{
    background:#000;
    color:#fff;
    border:none;
    padding:12px 18px;
    border-radius:25px;
    cursor:pointer;
}

.bell-btn{
    width:42px;
    height:42px;
    border:none;
    border-radius:50%;
    background:#000;
    color:white;
    cursor:pointer;
    display:flex;
    justify-content:center;
    align-items:center;
}

.profile-img{
    width:42px;
    height:42px;
    border-radius:50%;
    object-fit:cover;
    cursor:pointer;
    border:2px solid #1db954;
}

.logout-btn{
    background:#1db954;
    color:white;
    border:none;
    padding:11px 22px;
    border-radius:25px;
    cursor:pointer;
    font-weight:600;
}

.logout-btn:hover{
    background:#18a64d;
}

@media(max-width:1200px){

.search-box{
    width:260px;
}

}

@media(max-width:992px){

.search-box{
    display:none;
}

.premium-btn{
    display:none;
}

}

@media(max-width:768px){

.install-btn{
    display:none;
}

.logout-btn{
    padding:10px 18px;
}

}