.album-card{
    width:200px;
    background:#181818;
    padding:15px;
    border-radius:10px;
    cursor:pointer;
    transition:.3s;
}

.album-card:hover{
    background:#282828;
}

.album-image{
    position:relative;
}

.album-image img{
    width:100%;
    border-radius:10px;
}

.play-icon{
    position:absolute;
    right:10px;
    bottom:10px;

    width:45px;
    height:45px;

    border:none;
    border-radius:50%;

    background:#1DB954;
    color:white;

    opacity:0;
    transform:translateY(10px);

    transition:.3s;

    cursor:pointer;
}

.album-card:hover .play-icon{
    opacity:1;
    transform:translateY(0);
}

.album-card h4{
    margin-top:12px;
    color:white;
}

.album-card p{
    color:#b3b3b3;
    font-size:14px;
}