.liked-page{
    width:100%;
    min-height:100vh;
    background:#121212;
    color:#fff;
    padding:30px;
}

/* Header */

.liked-header{
    display:flex;
    align-items:end;
    gap:25px;
    padding:40px 20px;
    background:linear-gradient(180deg,#5b21b6,#121212);
    border-radius:15px;
    margin-bottom:30px;
}

.liked-icon{
    width:180px;
    height:180px;
    background:linear-gradient(135deg,#7c3aed,#2563eb);
    display:flex;
    justify-content:center;
    align-items:center;
    border-radius:15px;
    box-shadow:0 10px 25px rgba(0,0,0,.4);
}

.liked-icon svg{
    font-size:80px;
    color:#fff;
}

.liked-header p{
    margin:0;
    color:#ddd;
    font-size:15px;
}

.liked-header h1{
    margin:10px 0;
    font-size:60px;
    font-weight:700;
}

.liked-header span{
    color:#b3b3b3;
    font-size:15px;
}

/* Empty */

.empty-liked{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    height:300px;
    color:#b3b3b3;
    text-align:center;
}

.empty-liked h2{
    color:#fff;
    margin-bottom:10px;
}

/* Song */

.liked-song{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:15px 20px;
    border-radius:10px;
    transition:.3s;
}

.liked-song:hover{
    background:#1f1f1f;
}

.liked-info{
    display:flex;
    align-items:center;
    gap:18px;
    cursor:pointer;
    flex:1;
}

.liked-info img{
    width:60px;
    height:60px;
    border-radius:8px;
    object-fit:cover;
}

.liked-info h4{
    margin:0;
    color:#fff;
    font-size:18px;
}

.liked-info p{
    margin-top:5px;
    color:#b3b3b3;
    font-size:14px;
}

.liked-actions{
    display:flex;
    align-items:center;
    gap:15px;
}

.liked-actions button{
    width:45px;
    height:45px;
    border:none;
    border-radius:50%;
    background:#282828;
    color:#fff;
    cursor:pointer;
    display:flex;
    justify-content:center;
    align-items:center;
    transition:.3s;
}

.liked-actions button:hover{
    background:#1DB954;
    transform:scale(1.08);
}

/* Tablet */

@media(max-width:768px){

    .liked-page{
        padding:20px;
    }

    .liked-header{
        flex-direction:column;
        align-items:center;
        text-align:center;
    }

    .liked-icon{
        width:150px;
        height:150px;
    }

    .liked-header h1{
        font-size:42px;
    }

    .liked-song{
        flex-direction:column;
        align-items:flex-start;
        gap:15px;
    }

    .liked-actions{
        width:100%;
        justify-content:flex-end;
    }

}

/* Mobile */

@media(max-width:480px){

    .liked-header h1{
        font-size:32px;
    }

    .liked-icon{
        width:120px;
        height:120px;
    }

    .liked-icon svg{
        font-size:55px;
    }

    .liked-info img{
        width:50px;
        height:50px;
    }

    .liked-info h4{
        font-size:16px;
    }

    .liked-info p{
        font-size:12px;
    }

}