body.dark{
    --bg:#121212;
    --navbar:#121212;
    --text:#ffffff;
    --border:#222;
    --button:#000;
    --search:#242424;
    --search-hover:#2f2f2f;
    --secondary:#b3b3b3;
    --green:#1DB954;

    background:var(--bg);
    color:var(--text);
}

body.light{
    --bg:#f5f5f5;
    --navbar:#ffffff;
    --text:#111111;
    --border:#ddd;
    --button:#e5e5e5;
    --search:#f0f0f0;
    --search-hover:#e5e5e5;
    --secondary:#555;
    --green:#1DB954;

    background:var(--bg);
    color:var(--text);
}

body{
    margin:0;
    padding:0;
    transition:.3s;
}